.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fs-15 {
  font-size: "15px";
}

.fs-16 {
  font-size: "16px";
}

.fs-20 {
  font-size: "20px";
}

.extra-bold {
  font-weight: 700;
}
.spin {
  transition: transform 0.5s ease;
}
.spin:hover {
  transform: rotate(360deg);
}
.div1 {
  /* margin: 20px 0; */
  /* height: 65vh; */
  background-image: url("../public/abdo1.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
}
/* .about-text {
  /* padding-top: 40px;
  margin-left: 5rem;
  width: 50vw; */
/* } */

.div2 {
  /* margin: 20px 0; */
  height: 90vh;
  background-image: url("../public/abdo2.jpg");
  /* width: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* text-align: left; */
}
